Binaries
DerivedDataCache
Intermediate
Saved
Build

.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace+

.idea/
*.DotSettings.user
.DS_Store
Thumbs.db
Desktop.ini
*.log
*.dmp
.vsconfig